<div class="content" (click)="clickTela()">
  <div #estagio1 class="estagio1">
    <p #labelNome>{{pergunta1}}</p>
    <input #inputNome (keyup.enter)="onEnterNome()" />
    <p #labelIdade hidden>{{pergunta11}}</p>
    <input hidden #inputIdade (keyup.enter)="onEnterIdade()" />
    <p #labelEstado hidden>{{pergunta12}}</p>
    <input hidden #inputEstado (keyup.enter)="onEnterEstado()" />
  </div>
  <div #estagio2 class="estagio2" hidden>
    <p style="text-align: center;">{{pergunta2}}</p>
    <div style="text-align: center;">
      <img #foto1 src="assets/images/foto1.jpg" />
    </div>
    <p>{{pergunta3}}</p>
    <input #inputSimClaro (keyup.enter)="onEnterSimClaro()" />
  </div>
  <div #estagio3 class="estagio3" hidden>
    <p style="text-align: center;">{{pergunta4}}</p>
    <div style="text-align: center;">
      <img #foto2 src="assets/images/foto2.jpg" height="300" width="500" />
    </div>
    <p>{{pergunta5}}</p>
    <input #inputLogicoObvio (keyup.enter)="onEnterLogicoObvio()" />
  </div>
  <div #estagio4 class="estagio4 row" hidden>
    <div class="column texto">
      <span>{{palavras}}</span>
    </div>
    <img #imagem class="column" src="assets/images/foto3.png" height="300" width="250" style="left:40%; border: 5px solid purple; border-radius: 10px;" />
    <div class="column texto" style="right: 20px; text-align: center; font-style: italic;">
      <span>{{palavras2}}</span>
    </div>
  </div>
</div>