body{
    background-color: #EECBFF;
    border: 5px solid palevioletred;
    background-image: url("assets/images/background.jpg");
    border-radius: 10px;
    min-height: 92vh;
    padding: 10px;
}